body {
  margin: 0;
  font-family:"Open Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family:"Open Sans",sans-serif;
}

/*
light mode: 
  -- background color: white or #2496ed
  -- text color: black
dark mode: 
  -- background color: #031f30 or #0e161b 
  -- text color: white or #1282d7
*/
html {
  --primaryBackgroundColor:white;
  --primaryAltBackgroundColor: rgb(36,150,237);
  --primaryTextColor:black;
  --primaryAltTextColor: rgb(156,212,247);
  --primaryLinkColor:white;
  @media (prefers-color-scheme:light) {
    html {
      --primaryBackgroundColor:rgb(3,31,48);
      --primaryAltBackgroundColor: rgb(15,30,39) ;
      --primaryTextColor:white;
      --primaryAltTextColor:rgb(156,212,247);
      --primaryLinkColor:rgb(156,212,247);
    }
  }
}

