body {
  margin: 0;
  font-family:"Open Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --lightBackgroundColor:white;
  --darkerBackgroundColor: 36,150,237;
  --oppositeBackgroundColor: 15,30,39;
  --greyBackgroundColor: 211,212,212;
  --primaryTextColor:0,0,0;
  --secondaryTextColor: 255,255,255;
  --buttonColor: 156,212,247;
  --tableUpdateColor:36,150,237;
  --tableSearchColor:61, 165, 245;
  --tableHeaderColor: 82, 168, 235;
  --tableRowColor: 256,256,256;

  
}

/*Theme for dark mode*/
body.dark {
  --lightBackgroundColor:3,31,48;
  --darkerBackgroundColor: 15,30,39;
  --oppositeBackgroundColor: 36,150,237;
  --greyBackgroundColor: 211,212,212;
  --primaryTextColor:255,255,255;
  --secondaryTextColor:156,212,247;
  --buttonColor:52,70,88;
  --tableUpdateColor:8,8,8;
  --tableSearchColor:24,24,24;
  --tableHeaderColor: 32,32,32;
  --tableRowColor: 15,30,39;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width:100%;
  height:100%;
  background-color:rgb(var(--lightBackgroundColor));
}

a:visited,.navbar-brand:visited,.current-page-link:visited{
  text-decoration: none;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


