
/*Top of content wrapper: Style each page title and description*/
.title,.description {
    color:var(--primaryTextColor);
}

.title{
    text-align:center;
    font-size: 32px;
    font-weight:700;
    margin:0;
}

.description {
    text-align:center;
    font-size: 18px;
    font-weight:400;
    margin:0;
}

.input-grid {
    color:var(--primaryTextColor);
    font-size:40px;
}


