


/*Top of content wrapper: Style each page title and description*/
.popup-header {
    background-color: rgb(var(--oppositeBackgroundColor));
}

.title,.description,.input-grid,.update-title,.update-version,.update-list,.table-header,.update-button,.search-bar,.search-input,.pagination,.table-update-container,.table-group-header,.row  {
    color: rgb(var(--primaryTextColor));
}

.close-button {
    color: rgb(var(--secondaryTextColor));
}

.close-button:hover {
    color: rgba(var(--secondaryTextColor),0.7);
}

.title{
    text-align:center;
    font-size: 32px;
    font-weight:700;
    margin:0;
}

.description {
    text-align:center;
    font-size: 18px;
    font-weight:400;
    margin:0;
}

.input-grid {
    font-size:40px;
}

/*Style the popup*/
.popup-container {
    display:none;
    width:100%;
    height:100%;
    z-index:1;
    position:fixed;
    background-color:rgb(0,0,0,0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup-content {
    width:25%;
    margin:10% auto;
}

.top-window {
    width:100%;
    text-align:right;
    
}

.close-button {
    background-color:transparent;
    border-style:none;
    padding-right:0px;
    font-size:18px;
    cursor:pointer;
    
}



.popup-header {
    padding-top:25px;
    padding-bottom:15px;
    color:white;
    text-align:center;
    font-size:24px;
   
}

.popup-header > p {
    margin-bottom:0;
}

.popup-header-description {
    font-size:18px;
}

.popup-bottom {
    background-color:white;
    
}

.popup-bottom-list {
   margin-top:0%;
   margin-bottom:0%;
   padding-bottom:25px;
   padding-left:0px;
}

.popup-bottom-list > li {
    color:black;
    list-style-type:none;
    font-family:"Roboto",sans-serif;
    font-weight:bold;
    padding-top:25px;
    display:flex;
    justify-content: center;
    

}

.popup-bottom-list > li > a{
    text-decoration: none;
    color:rgb(8,102,204);
    font-weight:700;
    font-size:18px;
    padding: 5px 5px;
}

.popup-bottom-list > li > a:hover,.clipboard-button:hover,.feedback-button:hover{
    box-shadow: inset 0 0 50% 50% rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    background-color:grey;
    padding: 5px 5px;
}

.back-button:hover,.submit-button:hover {
    box-shadow: inset 0 0 50% 50% rgba(255, 255, 255, 0.1);
    background-color:grey;
}

.clipboard-button,.feedback-button, .back-button{ 
    background-color:transparent;
    border-style:none;
    color:black;
    font-weight:700;
    font-size:18px;
    cursor:pointer;
    padding: 5px 5px;
}

.smile, .lightbulb, .exclamation {
    font-size:24px;
    padding: 0px 0px;
    margin: 0px 0px;
}

.BsFillEnvelopeFill,.BsGithub,.BsLinkedin {
    font-size:18px;
    padding: 0px 0px;
    margin: 0px 0px;
    align-self:center;
}

.smile,.BsLinkedin {
    color: rgb(11, 75, 116);
}

.lightbulb {
    color:rgb(208, 211, 65);

}

.exclamation {
    color:red;
}

.submit-button {
    background-color:transparent;
    border-style:none;
    color:black;
    font-weight:700;
    font-size:16px;
    cursor:pointer;
    padding: 5px 5px;
    display:block;
    margin: 15px auto;
    margin-bottom:15px;
}

.bottom-prompt {
    text-align:center;
    color:black;
    font-weight:700;
    font-size:16px;
    padding-bottom: 15px;
}

textarea {
    width: 400px;
    height: 200px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    
}

.submitted {
    text-align:center;
    color:black;
    font-size:24px;
    font-weight:700;
    margin:0 auto;
    padding: 100px 0px;
}

.home-container {
    margin:5% 0;
}

.updates-container {
    margin-left:20%;
    margin-bottom:5%;
}

.update-title {
    text-decoration: underline;
    font-size:18px;
    font-weight:700;
}

.title-container {
    margin-bottom:5%;
}

.input-grid {
    font-size:16px;
    font-weight:700;
    margin-bottom: 5%;
}



.table-background {
    border-collapse:collapse;
    background-color:rgb(128,128,128);
    font-weight: bold;
    text-align:center;
    margin:0 auto;
    width:100%;
   
}

.table-group-header {
    background-color: rgb(var(--tableHeaderColor));
    border-left: solid black 1px;
    border-right:solid black 1px;
    
}

.table-header {
   
    padding: 15px 0px;
}

.row {
    background-color: rgb(var(--tableRowColor));
    border:solid black 1px;
}

.table-update-container {
    width:100%;
    background-color: rgb(var(--tableUpdateColor));
    font-weight:500;
    padding:15px 0px;
    border-top: solid black 1px;
    border-right:solid black 1px;
    border-left:solid black 1px;
    box-sizing: border-box;
}

.update-button {
    background-color:transparent;
    border:none;
    float:right;
    font-size:24px;
    cursor:pointer;
    margin-right:15px;
}

.search-bar, .search-input {
    background-color:rgb(var(--tableSearchColor));
}

.search-bar {
    border:solid black 1px;
}

.search-input {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="7" fill="white" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
    width: 100%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:30px;
    box-sizing: border-box;
    border:none;
    font-size:16px;
}

::placeholder {
    color:rgb(var(--primaryTextColor));
}

.pagination {
    padding: 0.5rem;
    text-align:left;
  }

.column-filter {
    margin-top:5px;
    
}

option {
    background-color: rgb(var(--tableHeaderColor));
}

.option-list {
    color:rgb(var(--primaryTextColor));
}