.HeaderWrapper{
    position:relative;
    width: 100%;
    top:0;
    z-index:1
}

.ContentWrapper {
    display:block;
    position:relative;
    margin-top:5%;
    margin-left:15%;
    margin-right:15%;
    margin-bottom:10%;
}

.FooterWrapper {
    display:block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
    
}

.SidebarWrapper {
    position:fixed;
    background-color: transparent;
   
    height:100%;
    top:80%;
}

.Header {  
    margin-left:20%;

}

.Footer {
    display:flex;
    justify-content:center;
}

.Sidebar {
    display:flex;
    margin-left:5%;

}

.ContentWrapper {
    background-color:rgb(var(--lighterBackgroundColor))
}

.HeaderWrapper,.dropdown-menu,.Footer,.side-button {
    background-color: rgb(var(--darkerBackgroundColor)); 
}

.navbar-brand,.navbar-link,.navbar-dropdown-link,.dropdown-button,.dropdown-icon,.react-toggle-track,.current-page-link,.footer-button,.side-button {
    color: rgb(var(--secondaryTextColor));
}

.navbar-brand:hover,.navbar-link:hover,.navbar-dropdown-link:hover,.dropdown-button:hover,.dropdown-icon:hover,.react-toggle-track:hover,.current-page-link:hover,.footer-button:hover,.side-button:hover {
    color:rgba(var(--secondaryTextColor),0.7);
    cursor:pointer;
}

/*Forced header to fit navbar with display option
Flex and justify content by using space-between the 3 alignments (left,center,right) starting at the center
*/
.navbar {
    display:flex;
    justify-content:space-between;
    align-content:center;
}

.navbar-justify-left {
    align-self:center;
    text-align:center;
    font-size:20px;
    font-weight:400;
    padding-left:40px;
    padding-bottom:15px;
    padding-top:15px;
}

.navbar-brand {
    font-size:20px;
    font-weight:700;
    text-decoration: none;
}

.navbar-justify-center {
    align-self:center;
    margin-left:0 auto;
    margin-right:0 auto;
}

/*Display as flex box and use space-between to distribute space*/
.navbar-list {
    list-style-type:none;
    display:flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
}

/*display each item as a block
flex 0 forces item to not grow to parent size
flex 1 prevents overflowing
flex auto calculates equal width for each item
*/
.navbar-item {
    display:block;
    flex:0 1 auto;
    margin-right:35px;
 
}

.navbar-link,.navbar-dropdown-link {
    text-decoration: none;
    font-size:18px;
    font-weight:400;
    display: inline-block;
}

/*Change spacing and align self to vertically center*/
.navbar-justify-right {
    align-self:center;
    padding-right:40px;
}


.toggle-light-mode {
    display:flex;
}

/*Change style of icons used in toggle button*/
.icon {
    font-size:20px;
    color:white;
    margin-left:5px;
    margin-right:5px;
}

.dropdown-button {
    background-color:transparent;
    border:none !important;
    font-size:18px;
    font-weight:400;
}

.dropdown-icon {
    font-size:14px;
}

.dropdown-button:hover {
    cursor:pointer;
}

/*Set it absolute to overlap other div and change brightness to adjust color from background*/
.dropdown-menu {
    position:absolute;
    filter:brightness(95%);}

/*Change spacing of the list in the dropdown menu*/
.dropdown-menu > li {
    padding: 10px 15px;
    margin-right:0%;
}

/*Style for the toggle button using !important to override default style*/
.react-toggle-track {
    background-color: rgb(var(--buttonColor)) !important;
}

/*Style for the current page link (uses a different className)*/
.current-page-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size:18px;
    font-weight:400;

  }
  
  @keyframes border {
    from {width: 0%;}
    to {width:100%}
  }
  
  .current-page-link:after {
    content: '';
    display: block;
    position:absolute;
    margin: auto;
    height: 3px;
    width: 0px; 
    animation-name: border; 
    animation-duration: 4s; 
    animation-fill-mode: forwards; 
    animation-name: border;
    animation-duration: 0.5s;
    background-color: rgb(var(--secondaryTextColor));
    color: rgb(var(--secondaryTextColor));
    
  }

/*Footer content*/
.footer  {
    float: left;
}

.footer-button {
    background-color:transparent;
    border:none;
    font-size:18px;
    font-weight:400;
    margin: 25px 0px;
    align-self:center;
    text-align:center;
    border-right: 2px solid rgb(var(--secondaryTextColor));
}

.footer-button:last-child {
    border:none;
}




.side-button {
    margin-left:1%;
    font-size:14px;
    font-weight: 400;
    padding: 10px 10px;
    border-radius: 40px;
    text-decoration:none;
    text-align:center;
    border:none;
}


.platform {
    color:rgb(var(--secondaryTextColor));
    padding-right:2%;
}