<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type ="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap" rel="stylesheet">
</head>
<body>

<div class="logo-container">
<a class="logo" href={%url 'home'%}>BDO<br>Tracker</a>
</div>

<b class="platform">PC-NA</b>

<header>
    <div class="navbar">
        <nav class = "navClass">
                <ul>
                    <li><a class='current' href={%url 'home'%}> Home</a></li>
                    <li><a href={%url 'pearlmarket'%}> Pearl Market</a></li>
                    <li> Life Skills 
                        <ul class="lifeskill-categories">
                            <li><a href={%url 'cooking'%}>Imperial Cooking</a></li>
                            <li><a href={%url 'alchemy'%}>Imperial Alchemy</a></li>
                            <li><a href={%url 'farming'%}>Farming</a></li>
                        </ul>
                        <span class="arrow">&#9660;</span>
                    </li>
                </ul>

        </nav>
    </div>
</header>
<div class="home-content">
    <p class="home-title">Welcome!<br></p>
    <p class='home-description'>
    BDO Tracker is a tool to help Black Desert Online players keep track of various activities including boss timers, life skill profitability, pearl market sales, and more. 
    Register an account today to save your configurations so that you do not have to setup your alerts or life skill settings all over again!</p>
</div>



<div class="footer-container">
    <ul>
        <li><a href="">Contact Me</a></li>
        <li><a href="">Feedback</a></li>
    </ul>
</div>

</body>
</html>