<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type ="text/css" href="{% static 'style.css' %}">
</head>
<body>

<a class="logo" href="">BDO<br>Tracker</a>
<b class="platform"> PC-NA Region </b>
<header>
    <div class="navbar">
        <nav class = "navClass">
                <ul>
                    <li><a href=""> Home</a></li>
                    <li><a href=""> Pearl Market</a></li>
                    <li><a href=""> Life Skill 
                        <ul class="lifeskill-categories">
                            <li><a href="">Cooking</a></li>
                            <li><a href="">Alchemy</a></li>
                            <li><a href="">Farming</a></li>
                        </ul>
                        <span class="arrow">&#9660;</span>
                    </a>
                    </li>
                </ul>

        </nav>
    </div>
</header>
</body>
</html>