<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <link rel="stylesheet" type ="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap" rel="stylesheet">
</head>
<body>
<body>
    <header>
            <nav class ="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
                
                <a id="logo" class="navbar-brand d-flex w-50 mr-auto" href= {%url 'home' %}>BDO<br>Tracker</a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                    <ul class="navbar-nav w-100 justify-content-center">
                        <li class="nav-item active"><a class="nav-link" href={%url 'home'%}>Home</a></li>
                        <li class="nav-item active"><a id="current" class="nav-link" href={%url 'pearlmarket'%}>Pearl Market</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Life Skills 
                            </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href={%url 'cooking'%}>Imperial Cooking</a></li>
                                    <li><a class="dropdown-item" href={%url 'alchemy'%}>Imperial Alchemy</a></li>
                                    <li><a class="dropdown-item" href={%url 'farming'%}>Farming</a></li>
                                </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                        <li class="nav-item"><p id="platform" class="navbar-text">PC-NA</p></li>
                    </ul>
                </div>   
            </nav>         
    </header>
    <div class="content-wrapper">
        <div class='content'>
            <p class='title'>Pearl Market</p>
            <p class='description'>Track the amount of pearl item sales for various periods to determine what is hot </p>
        </div>
    </div>
    
    <div class="footer-container">
        <ul>
            <li><a href="">Contact Me</a></li>
            <li><a href="">Feedback</a></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
</body>
</html>