html,body{
    height:100%;
}
/*Set background color and margin*/
body {
    display:flex;
    flex-direction:column;
    background-color: rgb(32, 32, 32);
    margin:0;
   
}

/*Change color of navigation bar set as header of website*/
header {
    background-color:rgb(24, 24, 24);
}

/*Fixes the container to fit content*/
header::after {
    content:'';
    display:table;
    clear:both;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1 0 auto;
}

.footer-container {
    flex-shrink: 0;
    left:0;
    bottom:0;
    width: 100%;
    background-color: rgb(24, 24, 24);
    text-align: center;
    margin-top:5%;
}


.footer-container > ul {
    background-color:rgb(24,24,24);
    color:white;
    font-size: 18px;
    font-family:sans-serif;
    text-align:center;
    margin: 0;
    padding:0;
}

.footer-container > ul > li {
    list-style-type: none;
    display:inline-block;
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer-container > ul > li > a {
    color:white;
    text-decoration: none;
    text-align: center;
}

.footer-container > ul > li + li:before {
    content: " | ";
    
}


/*Style the logo in the top left*/
.logo {
    color: white;
    float: left;
    text-align:center;
    font-size: 22px;
    font-family: "Open Sans",sans-serif;
    background-color: rgb(0,0,0);
    transform:skewX(0deg);
   -ms-transform:skewX(0deg);
   -webkit-transform:skewX(0deg);
    padding-left:35px;
    padding-right:35px;
    width: 120px;
    
}



.logo-container > a::after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(0,0,0);
    border-bottom: 3px solid rgb(0,0,0);
    border-right: 20px solid rgb(0,0,0);
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
    
}

/*Style the platform in the top right*/
.platform {
    color:white;
    text-align:center;
    float:right;
    padding-top:15px;
    padding-right: 50px;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif
}

.logo:hover {
    color:#55d6aa;
}

/*Set logo link to have no decoration*/
a {
    text-decoration:none;
}

/*Fixes orientation of list in navigation*/
.navbar {
    width: 80%;
    margin: 0 auto;
}



/*Style child of navclass which is ul (unordered list)*/
.navClass > ul {
    background-color:rgb(24,24,24);
    color:white;
    font-size: 18px;
    font-family:sans-serif;
    text-align:center;
    margin: 0;
    padding:0;

}

/*Style elements of list which is the child of ul*/
.navClass > ul > li {
    list-style-type: none;
    display:inline-block;
    position: relative;
    padding-top:20px;
    margin-left: 35px;
   
}


/*Style links*/
.navClass > ul > li > a {
    color:white;
    text-decoration: none;
    text-align: center;
}


/*Style dropdown menu*/
ul.lifeskill-categories {
    position: absolute;
    background-color: rgb(24, 24, 24);
    list-style-type: none;
    opacity: 1;
    width:200px;
    padding-top: 5px;
    opacity: 0;
    padding-left:0px;
}

/*Style list elements of dropdown menu*/
ul.lifeskill-categories > li {
    padding-top:5px;
    padding-bottom: 5px;
    position:relative;
}

/*Style dropdown menu text links*/
ul.lifeskill-categories > li > a{
    color:white;
    text-decoration: none;
}

/*Show dropdown menu by changing opacity */
.navClass li:hover .lifeskill-categories {
    opacity:1;
}

/*Highlight link when hovering*/
.navClass > ul > li > a:hover {
    color:#55d6aa;
}

/*Highlight dropdown element when hovering*/
.navClass > ul > li:hover {
    color:#55d6aa;
}
/*Color dropdown menu links on hover*/
ul.lifeskill-categories > li > a:hover {
    color:#55d6aa
}

/*Color current page*/
.navClass .current {
    color: #ff3644;
}

/*Color current page for dropdown menu*/
.navClass > ul.lifeskill-categories > li > a.current {
    color: #ff3644;
}

.home-title {
    text-align:center;
    color:white;
    font-family:sans-serif;
    font-size: 24px;
    padding-top:15px;
}

.home-description {
    text-align:left;
    color:white;
    font-family:sans-serif;
    font-size: 18px;
    padding-left:45px;
    padding-right:45px;
    padding-bottom:45px;
    position:relative;
}

.home-content {
    background-color: rgb(24, 24, 24);
    width: 60%;
    margin:auto;
    margin-top:5%;
    border-style:solid;
    border-color:black;
}

.title {
    text-align:center;
    color:white;
    font-family:sans-serif;
    font-size: 28px;
    margin:0;
}

.description {
    text-align:center;
    color:white;
    font-family:sans-serif;
    font-size: 16px;
    margin:0;
}

.content {
    width: 60%;
    margin:auto;
    margin-top:5%;

}

.input-content {
    padding-top:25px;
    text-align: center;
 
}


label {
    display:inline-block;
    color:white;
    font-family:sans-serif;
    text-align:left;
}

input,select {
    display:block; 
    width:150px;
    background-color:rgb(24,24,24);
    font-family: sans-serif;
    font-size:16px;
    color:white;
    border-style:none;
    padding: 10px 10px;
    margin-right: 20px;
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.database {
    font-family:sans-serif;
    width:60%;
    margin: auto;
    
}

.database > .table-format {
    text-align:left;
    padding: 5px 15px 5px 15px;
    margin-left:auto;
    margin-right:auto;
    border-style:black;

}

 td {
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;  
    font-size:18px;
    color:white;
}

#data tr {
    display: none;
  }



#searchbox {
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
    width: 60%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:30px;
    border: 1px solid black;
    margin-bottom: 12px;
    margin: 0 auto;
    margin-top: 55px;
    font-size: 16px;
    background-color:rgb(24,24,24)
  }

  #table-id_filter {
    display:none;
}



#table-id_info {
    color:white !important;
}



.dataTables_wrapper .dataTables_paginate .paginate_button
 {
    color:white !important;
    background-color:rgb(16,16,16) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color:white !important;
    background-color:rgb(16,16,16) !important;
}

.ellipsis{
    color:white !important;
}