html,body{
    height:100%;
    margin:0px;
    padding:0px;
}
/*Set background color and margin*/
body {
    display:flex;
    flex-direction:column;
    background-color: rgb(32, 32, 32);
    margin:0;
   
}

/*Change color of navigation bar set as header of website*/


.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1 0 auto;
}

.footer-container {
    flex-shrink: 0;
    left:0;
    bottom:0;
    width: 100%;
    background-color: rgb(24, 24, 24);
    text-align: center;
    margin-top:5%;
}


.footer-container > ul {
    background-color:rgb(24,24,24);
    color:white;
    font-size: 18px;
    font-family:sans-serif;
    text-align:center;
    margin: 0;
    padding:0;
}

.footer-container > ul > li {
    list-style-type: none;
    display:inline-block;
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer-container > ul > li > a {
    color:white;
    text-decoration: none;
    text-align: center;
}

.footer-container > ul > li + li:before {
    content: " | ";
    
}



#platform {
    padding-right:40px;
    color:white;
    font-size:24px;
    font-family: sans-serif;
}

#logo {
    text-align:center;
    color:white;
    font-family:"Open Sans",sans-serif;
    padding-left:40px;
}


.nav-link {
    color:white !important;
    font-size:18px;
}

.dropdown-item {
    color:white !important;
    font-size:18px;

}



.navbar-nav .dropdown-menu {
    background-color: rgb(24,24,24);
}

#current {
    color:#ff6367 !important;
}

.nav-link:hover {
    color: #55d6aa !important;
    
}

.dropdown-item:hover {
    color:#55d6aa !important;
    background-color:rgb(24,24,24) !important;
}

.home-title {
    text-align:center;
    color:white;
    font-family:sans-serif;
    font-size: 24px;
    padding-top:15px;
}

.home-description {
    text-align:left;
    color:white;
    font-family:sans-serif;
    font-size: 18px;
    padding-left:45px;
    padding-right:45px;
    padding-bottom:45px;
    position:relative;
}

.home-content {
    background-color: rgb(24, 24, 24);
    width: 60%;
    margin:auto;
    margin-top:5%;
    border-style:solid;
    border-color:black;
}

.WIP-container, .updates-container {
    background-color: rgb(24, 24, 24);
    width: 60%;
    margin:auto;
    margin-top:5%;
    border-style:solid;
    border-color:black;
}


.update-title {
    text-align:center;
    color:white;
    font-family:sans-serif;
    font-size: 18px;
    padding-top:15px;
}

.updates-container > p,li , .WIP-container > p,li  {
    color:white;
    margin: 0;
    
}

.updates-container > p, .WIP-container > p {
    padding-left:10px;
}


.title {
    text-align:center;
    color:white;
    font-family:sans-serif;
    font-size: 28px;
    margin:0;
}

.description {
    text-align:center;
    color:white;
    font-family:sans-serif;
    font-size: 16px;
    margin:0;
}

.content {
    width: 60%;
    margin:auto;
    margin-top:5%;

}

.input-content {
    padding-top:25px;
    text-align: center;
 
}


label {
    display:inline-block;
    color:white;
    font-family:sans-serif;
    text-align:left;
}

input,select {
    display:block; 
    width:150px;
    background-color:rgb(24,24,24);
    font-family: sans-serif;
    font-size:16px;
    color:white;
    border-style:none;
    padding: 10px 10px;
    margin-right: 20px;
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.database {
    font-family:sans-serif;
    width:70%;
    margin: auto;
    
}

.database > .table-format {
    text-align:left;
    padding: 5px 15px 5px 15px;
    margin-left:auto;
    margin-right:auto;
    border-style:black;

}

 td {
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;  
    font-size:18px;
    color:white;
}

#data tr {
    display: none;
  }

  .table-update-container {
    background-color:rgb(20,20,20);
    margin-top:55px;
    overflow:hidden;
   
}

.update-image::before {
    content: "●";
    color:#5ff369;
    font-size:25px;
    padding-left:15px;
    
    
}

.update-image {
    display:inline-block;
    line-height:35px;
    text-align:center;
}

.update-time {
    color:white;
    font-size:14px;
    font-family:'Roberto',sans-serif;
    text-transform:uppercase;
    padding-left:5px;
   
}

.bi.bi-arrow-clockwise {
    color:white;
    font-size:22px;
    padding-right:10px;
}

.update-button {
    background-color:rgb(20,20,20);
    float:right;
    border-style:none;
    padding-top:5px;
    margin:0 auto;
    
}

button:focus {outline:none;}

.database {
    background-color:rgb(20,20,20);
}

#searchbox {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="7" fill="grey" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
    width: 100%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:30px;
    border: 1px solid black;
    margin: 0 auto;
    color:white;
    font-size: 16px;
    background-color:rgb(24,24,24);
    outline: none;
  }

  #table-id_filter {
    display:none;
}



#table-id_info {
    color:white !important;
}



.dataTables_wrapper .dataTables_paginate .paginate_button
 {
    color:white !important;
    background-color:rgb(16,16,16) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color:white !important;
    background-color:rgb(16,16,16) !important;
}

.ellipsis{
    color:white !important;
}


#option1 { color: #b3ff7a;}
#option2 { color: #0391c4;}
#option3{ color: #f6c232;}
#option4 { color: #d42626;}
#option5{ color: #ad3495;}
#option6 { color: #ff8315;}

#profession-level {
    color: #ff8315;
}

#table-id_length > option {
    color:black;
}