{% extends "cooking.html" %}

{% block title %}alchemy{% endblock title%}

{%block navbar%}
    <ul class="navbar-nav w-100 justify-content-center">
        <li class="nav-item active"><a class="link-style nav-link" href={%url 'home'%}>Home</a></li>
        <li class="nav-item active"><a class="link-style nav-link" href={%url 'pearlmarket'%}>Pearl Market</a></li>
        <li class="nav-item dropdown">
            <a class="link-style nav-link dropdown-toggle" href="#" id="current" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Life Skills 
            </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="link-style dropdown-item" href={%url 'cooking'%}>Imperial Cooking</a></li>
                    <li><a id="current" class="link-style dropdown-item" href={%url 'alchemy'%}>Imperial Alchemy</a></li>
                    <li><a class="link-style dropdown-item" href={%url 'farming'%}>Magical Seed Farming</a></li>
                </ul>
        </li>
    </ul>
{%endblock navbar%}

{%block page-title%}
    <p id='title'>Imperial Alchemy</p>
    <p class='description'>Determine imperial delivery profit from various elixirs based on marketplace value or total revenue</p>
{%endblock page-title%}
