<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <link rel="stylesheet" type ="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap" rel="stylesheet">
</head>

<body>
<body>
    <header>
            <nav class ="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
                
                <a id="logo" class="navbar-brand d-flex w-50 mr-auto" href= {%url 'home' %}>BDO<br>Tracker</a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                    <ul class="navbar-nav w-100 justify-content-center">
                        <li class="nav-item active"><a id="current" class="nav-link" href={%url 'home'%}>Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href={%url 'pearlmarket'%}>Pearl Market</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Life Skills 
                            </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href={%url 'cooking'%}>Imperial Cooking</a></li>
                                    <li><a class="dropdown-item" href={%url 'alchemy'%}>Imperial Alchemy</a></li>
                                    <li><a class="dropdown-item" href={%url 'farming'%}>Magical Seed Farming</a></li>
                                </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                        <li class="nav-item"><p id="platform" class="navbar-text">PC-NA</p></li>
                    </ul>
                </div>   
            </nav>         
    </header>
    <div class="content-wrapper">
        <div class="home-content">
            <p class="home-title">Welcome!<br></p>
            <p class='home-description'>
            BDO Tracker is a tool to help Black Desert Online players keep track of various activities including life skill profitability and pearl market sales. 
            If you have any questions, suggestions, or feedback please let me know!
            </p>
        </div>

        <div class="WIP-container">
            <p class="update-title">Work in Progress</p>
            <p> Currently Working On: </p>
             <ul>
                <li> Add tooltips to various inputs provide additional information when needed </li>
                <li> Add contact info and feedback submission </li>
                
            </ul>

            <p>Completed: </p>
            <ul>
                <li> All pages</li>
            
            </ul>
        </div>

        <div class="updates-container">
            <p class="update-title">Recent project updates</p>
            <p>9/22 - version: 1.31</p>
            <ul>
                <li>Add sorting to pearl table base on type</li>  
                <li>Ability for user to update pearl table</li> 
            </ul> 
            <p>9/21 - version: 1.30 </p>
            <ul>
                <li>Build the pearl item database for the pearl tab</li>  
            </ul> 
            <p>9/20 - version: 1.22 </p>
            <ul>
                <li>Finish farming tab (dynamic inputs and fetching updated data)</li>
               
               
            </ul> 
            <p>9/19 - version: 1.21 </p>
            <ul>
                <li>Added crate calculations to farming tab</li>
                <li>Validated all number inputs: no decimals or empty/NaN input</li>
                <li>Revamp input ui into a grid system for ease of positioning</li>
            </ul> 
            <p>9/18 - version: 1.20 </p>
            <ul>
                <li>Added market and vendor calculations for farming tab</li>
                <li>Added required inputs for farming tab</li>
               
            </ul> 

            <p>9/17 - version: 1.15 </p>
            <ul>
                <li>Reconfigured code for reusability</li>
                <li>Implemented Imperial Alchemy Page</li>
            </ul> 

            <p>9/16 - version: 1.14 </p>
            <ul>
                <li>Validated mastery and cp inputs</li>
                <li>Implemented an update button to retrieve updated items from database</li>
                <li>Table dynamically changes base price and in stock when update button is hit (Fetch/promises api)</li>
            </ul> 

            <p>9/15 - version: 1.13 </p>
            <ul>
                <li>Implemented profit and revenue for each cooking item</li>
                <li>Color coded profits</li>
                <li>Table dynamically changes revenue and profit based on mastery and cp</li>
            </ul> 

           <p>9/13 - version: 1.12 </p>
            <ul>
                <li>Reconfigured navigation bar to use Bootstrap 5</li>
                <li>Added color coding to cooking items based on item grade</li>
                <li>Added updates section to home page</li>
                <li>Added filtering based on user's profession level</li>
            </ul> 

            <p>9/11 - version: 1.11 </p>
            <ul>
                <li>Implemented filtering for the imperial cooking table</li>
            </ul> 

            <p>9/10 - version: 1.10 </p>
            <ul>
                <li> Send items that are cooking type to the table shown in the Imperial Cooking page</li>
               
            </ul>           

            <p>9/9 - version: 1.01 </p>
            <ul>
                <li> Reconfigured website to use Bootstrap 5 and DataTables</li>
            </ul>

            <p>9/8 - version: 1.0 </p>
            <ul>
                <li> Initalized Django framework</li>
                <li> Removed secret key and database information from settings file</li>
                <li> Created a navigation bar of the website </li>
            </ul>

            <p>8/28 - version: 0.3 </p>
            <ul>
                <li> Reconfigured database into class for ease of updating</li>
                <li> Added queries to only update volatile items, cooking, and alchemy to speed up updating database </li>
            </ul>

            <p>8/27 - version: 0.2 </p>
            <ul>
                <li> Retrieved all data from API (14,000 items)</li>
                <li> Added names to all items  </li>
            </ul>

            <p>8/24 - version: 0.1 </p>
            <ul>
                <li> Project initalized </li>
                <li> Create a script to retrieve data from API </li>
                <li>Built a Mysql database </li>
            </ul>
        </div>


    </div>


    <div class="footer-container">
        <ul>
            <li><a href="#">Contact Me</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>